<section class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group" style='max-width: 35%; margin: 0 auto;'>
          <div class="">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>

          <div class="actions">
            <%= f.submit "Submit", class: 'button', style: 'margin-top: 1em;' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
