/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

$cream-font-color: #F9F1DC;
$background-color: #222;
$main-text-color: #222;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lora', serif;
  font-weight: 600;
  min-height: 100%;
  overflow-x:hidden;
  background-image: url("paper-background-7.jpg");
}

.page-header {
  margin-top: 0;
}

body {
  margin-bottom: 4em;
}

.pre-footer {
  clear: both;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5em;
}

.page-footer span {
  text-align: center;
  display: inline-block;
  margin: auto;
  padding-top: 1.5em;
}

.page-footer span:first-child {
  color: $main-text-color;
  float: right;
  position: relative;
  top: 1em;
  right: -0.7em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 0.25em;
}

.page-footer span:nth-child(2) {
  color: $main-text-color;
  float: right;
  position: relative;
  top: 1em;
  left: 1.2em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 0.25em;
  a {
    color: $main-text-color;
  }
}

.page-footer span {
  text-align: center;
  display: inline-block;
  margin: auto;
  padding-top: 1.5em;
}

.page-header span:first-child {
  float: right;
  position: relative;
  top: 0.8em;
  right: -1em;
}

.page-header span:nth-child(2) {
  float: right;
  position: relative;
  top: 0.8em;
  left: 0.7em;
}

.page-header span a {
  z-index: -10;
  font-size: 1vw;
}

// .page-header span:hover {
//   background-color: $cream-font-color;
// }

// .page-header span a:hover {
//   color: $main-text-color; 
//   text-decoration: none; 
//   cursor: pointer;
// }

.page-header span:nth-child(3) {
  position: relative;
  top: 0.8em;
  right: 0.5em;
//   // color: black;
//   // padding: 0.5em 0.7em 0.5em 0.7em;
//   // border-radius: 0.25em;
//   // background-color: #222;
//   // border-color: #222;
}

// span.btn:hover {
//   background-color: #FEF9F0;
//   border-color: #FEF9F0;
// }

.page-header {
  border: none;
}

#search-form {
  position: relative;
  top: 0.5em;
  right: 0.5em;
  max-width: 10em;
}

.button {
  font-size: 1.5vw;
  padding: 0.3em 2em 0.3em 2em;
  border: 2px solid #222;
  border-radius: 4em;
  font-weight: 400;
  color: $main-text-color;
}

.button:hover {
  background-color: $background-color;
  color: $cream-font-color;
}
