/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

$cream-font-color: #F9F1DC;
$background-color: #222;
$main-text-color: #222;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lora', serif;
  font-weight: 600;
  min-height: 100%;
  overflow-x:hidden;
  background-image: image-url("paper-background-7.jpg");
}

.page-header {
  margin-top: 0;
}

body {
  margin-bottom: 4em;
}

.pre-footer {
  clear: both;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5em;
}

.page-footer span {
  text-align: center;
  display: inline-block;
  margin: auto;
  padding-top: 1.5em;
}

.page-footer span:first-child {
  color: $main-text-color;
  float: right;
  position: relative;
  top: 1em;
  right: -0.7em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 0.25em;
}

.page-footer span:nth-child(2) {
  color: $main-text-color;
  float: right;
  position: relative;
  top: 1em;
  left: 1.2em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 0.25em;
  a {
    color: $main-text-color;
  }
}

.page-footer span {
  text-align: center;
  display: inline-block;
  margin: auto;
  padding-top: 1.5em;
}

.logout-button {
  margin-top: 0.4em;
  float: right;
}

.settings-button {
  float: right;
  position: relative;
  top: 0.4em;
  right: 0.5em;
}

.home-button {
  float: left;
  position: absolute;
  top: 0.4em;
}

.page-header {
  border: none;
}

form#search-form {
  position: absolute;
  top: 0.7em;
  left: 8.2em;
  width: 50%;
  input#search {
    outline: none;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: 2.5em;
    padding: 1em;
  }
}

.button {
  font-size: 1.3vw;
  padding: 0.3em 0.8em 0.3em 0.8em;
  border: 2px solid #222;
  border-radius: 4em;
  font-weight: 400;
  color: $main-text-color;
}

.button:hover {
  background-color: $background-color;
  color: $cream-font-color;
}

.devise-links a {
  color: $main-text-color;
}

.devise-links a:nth-child(3) {
  margin-top: 14em;
}


.social {
  text-align: center;
  display: inline-block;
  margin: 1em 1em 0.5em 0;
  display: block;
  background-color: blue;
  padding: 0.4em;
  width: 100%;
  height: 100%;
  text-indent: 2.1em;
  color: $cream-font-color!important;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  &.facebook {
    background: image-url('facebook.svg');
    background-position: 1em 0.4em;
    background-size: 1.5em;
    background-color: #3B5998;
    background-repeat: no-repeat;
    &:hover {
      background-color: #2f4779;
    }
  }
}
