// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cream-font-color: #F9F1DC;
$background-color: #222;
$main-text-color: #222;

.form-control-inline {
  min-width: 0;
  max-width: 8em;
  display: inline;
  margin-left: 1em;
}

.form-portion {
  min-width: 0;
  max-width: 5em;
  display: inline;
  margin: auto;
  margin-top: -1em;
}

.hint {
  font-size: 0.8em;
  color: grey;
}

.link-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
}

.link-container a {
  text-align: center;
}

.fa-times-circle {
  color: $main-text-color;
  margin-left: 0.5em;
  text-shadow: 1px 1px purple;
}

.fa-times-circle:hover {
  margin-left: 0.5em;
}

.fa-plus-circle {
  color: $main-text-color;
  text-shadow: 1px 1px purple;
}

a.add_fields {
  color: $main-text-color;
}

a.add_fields:hover {
  color: $main-text-color;
}

.fa-chevron-circle-down {
  color: #337ab7;
}

.fa-chevron-circle-down:hover {
  color: #1D5C91;
}

h1, h2 {
  text-align: center;
  padding-bottom: 0.25em;
}

.span {
  text-align: center;
  font-size: 1.3em;
}

.form-group {
  width: 100%;
  text-align: center;
}

#recipe_name {
  margin: auto;
  width: 100%;
  max-width: 30em;
}

.btn {
  margin-top: 2em;
}

.errors-div {
  width: 30%;
  margin: auto;
  text-align: center;
  border: 4px solid #337ab7;
  border-radius: 5px;
}

.quantity-fields, .ingredients-fields {
  display: none;
}

table {
  margin-top: 3em;
  font-size: 1.75em;
  tr.first-row:hover + tr {
    td {
      background-color: #222;
      color: $cream-font-color;
    }
    a {
      color: $cream-font-color;
    }
  }
  tr.first-row:hover {
    td {
      background-color: #222;
      color: $cream-font-color;
      cursor: pointer;
    }
    a {
      color: $cream-font-color;
    }
  }
  td {
    border: none!important;
  }
  td.title-row, .cost-row {
    border-top: 1px solid grey!important;
    padding-bottom: 0px!important;
  }
  tr.quantity-row {
    font-size: 0.8em;
    padding-top: 0;
    border-top: none!important;
    border-bottom: 1px solid grey;
    td {
      padding-top: 0px!important;
    }
  }
  a {
    color: #222;
  }
}

.bread {
  position: fixed;
  bottom: -9em;
  left: -7em;
  z-index: 10;
}

.whisk {
  position: fixed;
  top: 12em;
  right: -12.5em;
  z-index: 10;
}

.chevron-anchor-recipes {
  font-size: 5vw;
  display: block;
  text-align: center;
  text-decoration: none;
  color: $main-text-color !important;
  text-shadow: 2px 2px purple;
  margin-bottom: 0.5em;
}

.chevron-anchor-recipes:hover {
  color: $main-text-color;
}

.chocolate {
  max-width: 10em;
  position: fixed;
  bottom: -2em;
  left: -8em;
}

input.button {
  background-color: transparent !important;
  margin-top: 2.5em;
}

input.button:hover {
  background-color: $background-color !important;
  color: $cream-font-color;
  text-decoration: underline;
}

.fa-times-circle {
  font-size: 1.7em;
}

.rotate {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}  

.rotate:hover {
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-o-transform:rotate(90deg);
}

.cost-breakdown {
  font-size: 1.75em;
  float: right;
}

.cost-breakdown span:nth-child(2) {
  font-size: 1.2em;
}

.quantity-breakdown {
  font-size: 1.75em;
  float: left;
}

.servings-button {
  font-size: 0.7em !important;
  margin-top: 0.8em !important;
}

.show-title {
  margin-bottom: 0.25em;
  font-size: 5em;
}

.bread-2 {
  position: fixed;
  top: 17em;
  left: -14em;
}

.chocolate-2 {
  position: fixed;
  bottom: -10em;
  right: -16em;
}

.no-recipe-warning {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 2em;
}

.comments-body {
  font-size: 1.5em;
}

.ingredient-amount, .ingredient-size {
  max-width: 7em;
}

.ingredient-price {
  max-width: 5.6em;
}

.ingredient-name {
  max-width: 10em;
}

.dropdown {
  margin-left: 0.1em;
}


