// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$cream-font-color: #F9F1DC;
$main-text-color: #222;

.container {
  margin-top: 0;
}

span.title {
  font-size: 10vw;
  color: $cream-font-color;
  background-color: #222;
  padding: 0 0.25em 0 0.25em;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  display: block;
  text-shadow: 3px 3px purple;
  margin-top: 0.75em;
}

.egg {
  position: fixed;
  left: 82em;
  bottom: 33em;
}

.blurb {
  font-size: 1.7vw;
  text-align: center;
  margin: 0 auto;
  display: block;
  letter-spacing: 1px;
  margin-top: 1em;
}

.get-started {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 35%;
  clear: both;
  margin-top: 2em;
}

.fa-quote-left {
  font-size: 0.8em;
  position: relative;
  bottom: 0.5em;
}

.fa-quote-right {
  font-size: 0.8em;
  position: relative;
  bottom: 0.5em;
}

.chevron-anchor {
  font-size: 5vw;
  display: block;
  text-align: center;
  text-decoration: none;
  color: $main-text-color !important;
  text-shadow: 2px 2px purple;
  margin-top: 1em;
}

.chevron-anchor:hover {
  color: $main-text-color;
}

#intro-one {
  margin-top: 4em;
  margin-bottom: 4em;
  padding-top: 2em;
}

.mum {
  max-height: 20em;
  text-align: center;
  display: block;
  margin: 0 auto;
}
